@page "/createUser"
@using MiljoeFest.Shared
@inject HttpClient Http

<PageTitle>Miljøfest | Brugeroprettelse</PageTitle>
<h1>Brugeroprettelse</h1>

<p>Indtast venligst de krævede oplysninger.</p>

<!--Creation of an EditForm that follows the model of User.cs and creates a new user in DB upon submit-->
<EditForm Model="@u" OnValidSubmit="CreateUser">
    <div class="mt-2">
        <label>Rolle:</label>
        <div>
            <select @bind="@u.RoleId">
                <option>Vælg rolle</option>
                <option value=2>Frivillig</option>
            </select>
        </div>
    </div>

    <div class="mt-2">
        <label>Navn:</label>
        <div>
            <InputText @bind-Value="@u.Name" placeholder="Navn" />
        </div>
    </div>

    <div class="mt-2">
        <label>Afdeling:</label>
        <div>
            <InputText @bind-Value="@u.Department" placeholder="Afdelingsnavn" />
        </div>
    </div>

    <div class="mt-2">
        <label>Email:</label>
        <div>
            <InputText @bind-Value="@u.Email" placeholder="adresse@mail.com" />
        </div>
    </div>

    <div class="mt-2">
        <label>Tlf:</label>
        <div>
            <InputText @bind-Value="@u.Phone" placeholder="12 34 56 78" />
        </div>
    </div>

    <div class="mt-2">
        <label>Kompetencer:</label>
        <div>
            <InputText @bind-Value="@u.Skills" placeholder="Kompetencer" />
        </div>
    </div>

    <div class="mt-2">
        <label>Fødselsdag:</label>
        <div>
            <InputDate @bind-Value="@u.BirthDay" placeholder="dd/mm/åååå" />
        </div>
    </div>

    <div class="mt-2">
        <label>Førstehjælp:</label>
        <div>
            <InputCheckbox @bind-Value="@u.FirstAid" />
        </div>
    </div>

    <div class="mt-2">
        <div>
            <input type="checkbox"/>
            <label class="m-2">Jeg accepterer Miljøfests privatlivsvilkår</label>
        </div>
    </div>

    <!--Button triggers CreateUser function mentioned in code-block-->
    <button type="submit" class="btn btn-success mt-3">
        @OpretText
    </button>
</EditForm>


@code {
    public string OpretText = "Opret";

    // Oprettelse af ny instans af User ved navn "u"
    private User u = new();

    public async Task CreateUser()
    {
        // Sends an instance of User to the DB, with the data from the EditForm
        await Http.PostAsJsonAsync<User>("userController/create", u);
    }
}