@page "/coordinatorpage"
@using MiljoeFest.Client.Shared
@using MiljoeFest.Shared
@using System.Net.Http.Json
@inject HttpClient Http
@inject StateContainer StateContainer;

<PageTitle>Miljø Fest | Vagter</PageTitle>
<h1>Vagt Info</h1>

<p>Indtast opdateringer</p>
<!--Oprettelse af form som følger modellen for obj "u"-->
<EditForm Model="@shift" OnValidSubmit="update">
    
    <label>Vagt ID:</label>
    <div>
        <InputNumber @bind-Value="@shift.ShiftId" placeholder="Id"/>
    </div>
    
    <label>Opgave ID:</label>
    <div>
        <InputNumber @bind-Value="@shift.AssignmentId" placeholder="Id"/>
    </div>

    <label>Booked af:</label>
    <div>
        <InputNumber @bind-Value="@shift.UserId" placeholder="Frivilig Id"/>
    </div>

    <label>Lokation:</label>
    <div>
        <InputText @bind-Value="@shift.Location" placeholder="Lokation"/>
    </div>
    
    <label>Start Tidspunkt:</label>
    <div>
        <InputDate @bind-Value="@shift.Start" />
    </div>
    
    <label>Slut Tidspunkt:</label>
    <div>
        <InputDate @bind-Value="@shift.End" />
    </div>

    <label>Booked:</label>
    <div>
        <InputCheckbox @bind-Value="@shift.IsBooked"/>
    </div>

    
    <!--Knap sender info til db og redirecter bruger til forsiden igen (href = "/")-->
    <button type="submit" class="btn btn-success mt-3" href="/">
        @updateAlert
    </button>
    <button class="btn btn-danger" @onclick="delete">@deleteAlert</button>
</EditForm>

<PageTitle>Miljø Fest | Vagter</PageTitle>
<h2>Opgave Info</h2>

<p>Indtast opdateringer</p>
<!--Oprettelse af form som følger modellen for obj "u"-->
<EditForm Model="@assign" OnValidSubmit="updateAssignment">
    
    <label>Opgave ID:</label>
    <div>
        <InputNumber @bind-Value="@assign.AssignmentId" placeholder="Id"/>
    </div>
    
    <label>Ansvarlig Koordinator:</label>
    <div>
        <InputNumber @bind-Value="@assign.UserId" placeholder="Id"/>
    </div>

    <label>Opgave Navn:</label>
    <div>
        <InputText @bind-Value="@assign.AssignmentName" placeholder="Pølsebod"/>
    </div>

    <label>Afdeling:</label>
    <div>
        <InputText @bind-Value="@assign.Department" placeholder="Mad"/>
    </div>
    
    

    
    <!--Knap sender info til db og redirecter bruger til forsiden igen (href = "/")-->
    <button type="submit" class="btn btn-success mt-3" href="/">
        @updateAlertA
    </button>
    <button class="btn btn-danger" @onclick="deleteAssignment">@deleteAlertA</button>
</EditForm>

@code {
    public string updateAlert = "Opdater Vagt";

    public string deleteAlert = "Slet Vagt";

    public string updateAlertA = "Opdater Opgave";

    public string deleteAlertA = "Slet Opgave";

    public Assignment assign = new();

    public Shift shift = new();

    public async Task delete()
    {
        if (StateContainer.UserId == 1)
        {
            await Http.DeleteAsync($"shiftController/delete?shiftId={shift.ShiftId}");

        }
        else
        {
            deleteAlert = "Du har ikke rettigheder til at udføre den valgte handling";
        }
    }

    public async Task update()
    {
        if (StateContainer.UserId == 1) {

            await Http.PutAsJsonAsync($"shiftController/update?shiftId={shift.ShiftId}", shift);
        }
        else
        {
            updateAlert = "Du har ikke rettigheder til at udføre den valgte handling";
        }
    }

    public async Task deleteAssignment()
    {
              
                await Http.DeleteAsync($"assignmentController/deleteAssignment?assignmentId={assign.AssignmentId}");
            
       
    }

    public async Task updateAssignment()
    {
        if (StateContainer.UserId == 1) {

            await Http.PutAsJsonAsync($"assignmentController/updateAssignment?AssignmentId={assign.AssignmentId}", assign);
        }
        else
        {
            updateAlert = "Du har ikke rettigheder til at udføre den valgte handling";
        }
    }
}
