@page "/userCrud"
@using MiljoeFest.Shared;
@inject HttpClient Http
@inject StateContainer StateContainer;

<PageTitle>Miljøfest | Bruger-redigering</PageTitle>

<div class="jumbotron">
    <h1 class="display-4">Koordinatorer kan redigerer opgaver her</h1>
    <hr class="my-4">
</div>

<!--Creation of a div with the class "row"-->
<div class="row">
    <!--within the row, divs with the class "col-sm-4" are made, columns with given dimensions and margins-->
    <div class="col-sm-4">
        <!--Within each column, a card is appended with a body, title, some text and the EditForm-->
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Brugeroprettelse</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                
                <!--Creation of an EditForm that follows the model of User.cs and creates a new user in DB upon submit-->
                <EditForm Model="@u" OnValidSubmit="CreateUser">
                    <label>Rolle:</label>
                    <div>
                        <select @bind="@u.RoleId">
                            <option>Vælg rolle</option>
                            <option value=1>Koordinator</option>
                            <option value=2>Frivillig</option>
                        </select>
                    </div>

                    <label>Navn:</label>
                    <div>
                        <InputText @bind-Value="@u.Name" placeholder="Navn" />
                    </div>

                    <label>Afdeling:</label>
                    <div>
                        <InputText @bind-Value="@u.Department" placeholder="Afdelingsnavn" />
                    </div>

                    <label>Email:</label>
                    <div>
                        <InputText @bind-Value="@u.Email" placeholder="adresse@mail.com" />
                    </div>

                    <label>Tlf:</label>
                    <div>
                        <InputText @bind-Value="@u.Phone" placeholder="12 34 56 78" />
                    </div>

                    <label>Kompetencer:</label>
                    <div>
                        <InputText @bind-Value="@u.Skills" placeholder="Kompetencer" />
                    </div>

                    <label>Fødselsdag:</label>
                    <div>
                        <InputDate @bind-Value="@u.BirthDay" placeholder="dd/mm/åååå" />
                    </div>

                    <label>Førstehjælp:</label>
                    <div>
                        <InputCheckbox @bind-Value="@u.FirstAid" />
                    </div>

                    <!--Button triggers CreateUser function mentioned in code-block-->
                    <button type="submit" class="btn btn-success mt-3">
                        @OpretText
                    </button>
                </EditForm>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Brugeropdatering</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    
                    <!--Creation of an EditForm that follows the model of User.cs and updates the info of the chosen user upon submit-->
                    <EditForm Model="@current" OnValidSubmit="UpdateUser">
                        <label>Rolle:</label>
                        <div>
                            <select @bind="@current.RoleId">
                                <option>Vælg rolle</option>
                                <option value=1>Koordinator</option>
                                <option value=2>Frivillig</option>
                            </select>
                        </div>

                        <label>Navn:</label>
                        <div>
                            <InputText @bind-Value="@current.Name" placeholder="Navn" />
                        </div>

                        <label>Afdeling:</label>
                        <div>
                            <InputText @bind-Value="@current.Department" placeholder="Afdelingsnavn" />
                        </div>

                        <label>Email:</label>
                        <div>
                            <InputText @bind-Value="@current.Email" placeholder="adresse@mail.com" />
                        </div>

                        <label>Tlf:</label>
                        <div>
                            <InputText @bind-Value="@current.Phone" placeholder="12 34 56 78" />
                        </div>

                        <label>Kompetencer:</label>
                        <div>
                            <InputText @bind-Value="@current.Skills" placeholder="Kompetencer" />
                        </div>

                        <label>Fødselsdag:</label>
                        <div>
                            <InputDate @bind-Value="@current.BirthDay" placeholder="dd/mm/åååå" />
                        </div>

                        <label>Førstehjælp:</label>
                        <div>
                            <InputCheckbox @bind-Value="@current.FirstAid" />
                        </div>

                        <!--Button triggers UpdateUser function mentioned in code-block-->
                        <button type="submit" class="btn btn-success mt-3">
                            @OpdaterText
                        </button>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Brugersletning</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <!--Creation of an EditForm that follows the model of User.cs and deletes the user with given info upon submit-->
                <EditForm Model="@deleteUser" OnValidSubmit="DeleteUser">
                    <label>Slet bruger med ID:</label>
                    <div>
                        <InputNumber @bind-Value="@deleteUser.UserId" placeholder="Bruger ID" />
                    </div>

                    <!--Button triggers DeleteUser function mentioned in code-block-->
                    <button type="submit" class="btn btn-danger mt-3">
                        @deleteText
                    </button>
                </EditForm>
            </div>
        </div>
    </div>
</div>

<!--A table is created, with given headings for the extracted data-->
<table class="table mt-5">
    <thead>
        <tr>
            <th>Bruger ID</th>
            <th>Rolle</th>
            <th>Navn</th>
            <th>Afdeling</th>
            <th>Email</th>
            <th>Tlf.</th>
            <th>Kompetencer</th>
            <th>Fødselsdag</th>
            <th>Førstehjælp</th>
        </tr>
    </thead>
    <tbody>
        <!--The list of users (created in the code-block) is looped through, plotting data into a table-->
        @foreach (var u in users)
        {
            <tr>
                <td>@u.UserId</td>
                <td>@u.RoleId</td>
                <td>@u.Name</td>
                <td>@u.Department</td>
                <td>@u.Email</td>
                <td>@u.Phone</td>
                <td>@u.Skills</td>
                <td>@u.BirthDay</td>
                <td>@u.FirstAid</td>
                <td>
                    <!--Button triggers AssignCurrent function mentioned in code-block-->
                    <button class="btn btn-danger" @onclick="()=>AssignCurrent(u)">Select</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    public string OpretText = "Opret Bruger";
    public string OpdaterText = "Opdater Bruger";
    public string deleteText = "Slet Bruger";

    // New instance of a List containing User-instances, for loading several users into the page
    List<User> users = new();

    // A private instance of User named "u", acts like a model for the EditForm
    private User u = new();

    // New private instance of User named "current"
    private User current = new();

    // New private instance of User named "deleteUser"
    private User deleteUser = new();

    // Upon loading the page, a list of users is retrieved
    protected override async Task OnInitializedAsync()
    {
        users = await Http.GetFromJsonAsync<List<User>>($"userController/getAllUsers");
    }

    // Assigns values to the instance of User named "current"
    public void AssignCurrent(User u)
    {
        current.UserId = u.UserId;
        current.RoleId = u.RoleId;
        current.Name = u.Name;
        current.Department = u.Department;
        current.Email = u.Email;
        current.Phone = u.Phone;
        current.Skills = u.Skills;
        current.BirthDay = u.BirthDay;
        current.FirstAid = u.FirstAid;
    }


    public async Task CreateUser()
    {
        // Sends an instance of User to the DB, with the data from the EditForm
        await Http.PostAsJsonAsync<User>("userController/create", u);

        // Refreshes the list of users after saving the new instance, to include it in the shown list
        users = await Http.GetFromJsonAsync<List<User>>($"userController/getAllUsers");

        // String gets changed to confirm the registration of a new user
        OpretText = "Bruger oprettet";
    }

    public async Task UpdateUser()
    {
        // Updates a user with a given userId to the info provided in the instance of the same userId (current)
        await Http.PutAsJsonAsync($"userController/update?userId={current.UserId}", current);

        // Refreshes the list of users after updating the user, to include updated data in the shown list
        users = await Http.GetFromJsonAsync<List<User>>($"userController/getAllUsers");
        
        // String gets changed to confirm the update of a given user's information
        OpdaterText = "Bruger opdateret";
    }

    public async Task DeleteUser()
    {
        if (StateContainer.RoleId == 1)
        {
            // If the StateContainer chosen on the homepage has a roleId of 1
            // Deletes a user with a given userId that is provided to the instance of user (deleteUser)
            await Http.DeleteAsync($"userController/delete?userId={deleteUser.UserId}");
            
            // Refreshes the list of users after deleting a given user, to exclude them in the shown list
            users = await Http.GetFromJsonAsync<List<User>>($"userController/getAllUsers");
            
            // Changes deleteText to confirm that user with given ID was deleted
            deleteText = "Bruger slettet";
        } 
        else
        {
            // If the StateContainer chosen on the homepage doesn't have a roleId of 1
            // Changes deleteText to inform that they don't have the rights to delete a user 
            deleteText = "Rettigheder haves ikke";
        }
    }
}