@page "/createUser"
@using MiljoeFest.Shared
@inject HttpClient Http

<PageTitle>Miljø Fest | Brugeroprettelse</PageTitle>
<h1>Brugeroprettelse</h1>

<p>Indtast venligst de krævede oplysninger.</p>

<!--Oprettelse af form som følger modellen for obj "u"-->
<EditForm Model="@u" OnValidSubmit="@create">
    
    <label>Fulde navn:</label>
    <div>
        <InputText @bind-Value="@u.Name" placeholder="Navn"/>
    </div>
    
    <label>Brugertype:</label>
    <div>
        <select @bind="@u.RoleId"> 
            <option value=2>Frivillig</option>
        </select>
    </div>

    <label>Afdeling:</label>
    <div>
        <InputText @bind-Value="@u.Department" placeholder="Ønskede afdeling"/>
    </div>

    <label>E-mail:</label>
    <div>
        <InputText @bind-Value="@u.Email" placeholder="adresse@email.com"/>
    </div>
    
    <label>Mobil:</label>
    <div>
        <InputText @bind-Value="@u.Phone" placeholder="12 34 56 78"/>
    </div>
    
    <label>Kompetencer:</label>
    <div>
        <InputText @bind-Value="@u.Skills" placeholder="Ledelse, marketing e.l."/>
    </div>

    <label>Fødselsdato:</label>
    <div>
        <InputDate @bind-Value="@u.BirthDay" min="1960-01-01"/>
    </div>

    <label>Førstehjælpsbevis:</label>
    <div>
        <InputCheckbox @bind-Value="@u.FirstAid"/>
    </div>
    
    <!--Knap sender info til db og redirecter bruger til forsiden igen (href = "/")-->
    <button type="submit" class="btn btn-success mt-3" href="/">
        @ButtonText
    </button>
</EditForm>

@code{
    public string ButtonText = "Opret";

    // Oprettelse af ny instans af User ved navn "u"
    User u = new();

    public async Task create()
    {
        // Sender obj "u" afsted med de oplysninger fra bindede inputfelter i EditFormen ovenover
        await Http.PostAsJsonAsync<User>("userController/create", u);
    }
}